#page_title {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    margin: 0;
    /* border-radius: 30% 70% / 120px;
    background-color: white; */
}
#header_style {
    padding-top: 0;
    color:#50AFBF;
    background-color: #B0EAF4;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#user_nav {
    width: 40%;
    display: flex;
    justify-content: center;
    padding: 1% 0 1% 0;
}
.user_nav_element {
    width: 10vmin;
    height: 10vmin;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0px 10px 0px 10px;
}
.user_nav_menu {
    display: none;
}
.any_user_nav_element {
    border: 2.5px solid #50AFBF;
}
.current_user_nav_element {
    border: 2px solid white;
}
.user_nav_element img {
    width: 80%;
    height: 80%;
    align-self: center;
}

header, main, body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
body {
    font-size: 3vmin;
    color: #50AFBF;
    background-color: #536E73;
}
.longbarstyle {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    padding: 10px 0px 10px 0px;
    background-color: #B0EAF4;
    /* box-shadow: 2px 2px 8px black; */
}
.nav_section {
    padding: 0;
}
.navigation {
    font-size: 1.5em;
    font-family: serif;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: stretch;
    align-content: center;
    align-self: center;
}
.nav_element {
    flex-grow: 1;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius: 0.8vmin 0.8vmin 0% 0%;
    /* margin-right: 10px;
    margin-left: 10px; */
}
.any_nav_element {
    color: #50AFBF;
}
.current_nav_element {
    color: white;
    background-color: #536E73;
}
.nav_element:hover {
    background-color: #536E73;
    opacity: 60%;
}
.items_board, .items_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    /* padding: 10px 2% 10px 2%; */
    /* background-color: #66DDF2; */
    /* box-shadow: 2px 2px 8px black; */
    overflow: hidden;
    font-size: 0.75rem;
}
.items_board ul {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    /* align-self: center; */
    /* flex-direction: column;
    align-content: space-around; */
    /* justify-content: space-between; */
    justify-content: center;
}
.item {
    display: flex;
    flex-direction: row;
    /* display: inline-block; */
    width: 30vmax;
    height: 250px;
    margin: 2% 2% 2% 2%;
    /*padding: 10px 10px 10px 10px;*/
    background-color: #B0EAF4;
    box-shadow: 1px 1px 3px #536E73;
    overflow: hidden;
}
#airV1 {
    background-image: url(img/air_bubles.jpg);
    background-size: cover;
}
#airV2 {
    background-image: url(img/air_alps.jpg);
    background-size: cover;
}
#airV2p {
    background-image: url(img/air_alps_plus.jpg);
    background-size: cover;
}
#airV3 {
    background-image: url(img/air_ocean.jpg);
    background-size: cover;
}
#airV4 {
    background-image: url(img/air_nature.jpg);
    background-size: cover;
}
#airV5 {
    background-image: url(img/air_dream.jpg);
    background-size: cover;
}
#airSV1 {
    background-image: url(img/air_subsc_classic.jpg);
    background-size: cover;
}
#airSV2 {
    background-image: url(img/air_subsc_alps.jpg);
    background-size: cover;
}
#airSV3 {
    background-image: url(img/air_subsc_ocean.jpg);
    background-size: cover;
}
.item_title {
    display: block;
    float: left;
    position: relative;
    width: 34%;
    height: 100%;
    margin-bottom: 0px;
    padding: 10px 5% 10px 5%;
    background-color: #B0EAF4;
    box-shadow: 2px 0px 10px #B0EAF4;
}
.item_var {
    display: inline-block;
    align-items: flex-start;
    visibility: visible;
    width: 35%;
    min-height: 30px;
    border-radius: 3px;
    background-color: #B0EAF4;
    padding: 2% 2% 2% 2%;
    margin-top: 10px;
    margin-left: 20px;
}
.img_box {
    width: 200px;
    height: 200px;
    display: flex;
    align-self: center;
    overflow: hidden;
    border-radius: 100px;
    box-shadow: 0 0 5px #536E73;
    margin: 5% auto 5% auto;
}
.img_box img {
    width: 100%; 
}
#comments {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10px 2% 10px 2%;
}
.comment_item, .tmp_comment_item, .user_info {
    color: white;
    margin: 5% 10% 5% 10%;
    padding: 5% 5% 5% 5%;
    background-color: #66DDF2;
    /* box-shadow: 2px 2px 8px black; */
}
.close_button {
    text-align: center;
    font-family: serif;
    color:#50AFBF;
    box-shadow: none;
    border: none;
    margin-left: 10px;
    background-color: white;
}
.hide {
    display: none;
}

@media screen and (max-width: 1000px) {
    .nav_section {
        display: block;
        width: 40%;
        position: absolute;
        right: 0;
    }
    .nav_element {
        border-radius: 0.8vmin;
    }
    .navigation {
        flex-direction: column;
    }
    .user_nav_menu {
        display: block;
        align-self: center;
    }
}
